In [1]:
from IPython.display import display, HTML
import json
import warnings
warnings.filterwarnings('ignore')

display(HTML(data="""
<style>
    div#notebook-container    { width: 85%; }
    div#menubar-container     { width: 65%; }
    div#maintoolbar-container { width: 99%; }
</style>
"""))


# with open("contractions.json", "w") as cv:
#     json.dump(contractions, cv)
    
c = open("contractions.json")
contractions = json.load(c)

In [37]:
import plotly.graph_objects as go
import plotly.express as px

In [34]:
count = pd.read_csv('tableconvert_csv_pkcsig.csv')

In [53]:
# Choropleth Map
fig = px.choropleth(df, locations = df.index.tolist(),
                    color = "top")
fig.show()

In [41]:
a = 'United States'
count.loc[count.Country == a, 'top'] = 1

In [43]:
count.loc[count.Country == a, :]

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average),top
240,United States,US,USA,840,38.0,-97.0,1

In [49]:
df = count[['Alpha-3 code', 'top']]
df.set_index('Alpha-3 code', drop = True, inplace = True)

In [52]:
df.loc[df.index == 'USA', :]

              top
Alpha-3 code
USA             1

In [2]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder, StandardScaler

In [3]:
df_train = pd.read_csv("Webpages_Classification_train_data.csv", nrows = 100000)
df_train.drop(columns = "Unnamed: 0", inplace = True)

# df_test = pd.read_csv("Webpages_Classification_test_data.csv", nrows = 100)
# df_test.drop(columns = "Unnamed: 0", inplace = True)

In [7]:
df_train.head()

,url,url_len,ip_add,geo_loc,tld,who_is,https,js_len,js_obf_len,content,label
0,http://members.tripod.com/russiastation/,40,42.77.221.155,Taiwan,com,complete,yes,58.0,0.0,Named themselves charged particles in a manly ...,good
1,http://www.ddj.com/cpp/184403822,32,3.211.202.180,United States,com,complete,yes,52.5,0.0,And filipino field \n \n \n \n \n \n \n \n the...,good
2,http://www.naef-usa.com/,24,24.232.54.41,Argentina,com,complete,yes,103.5,0.0,"Took in cognitivism, whose adherents argue for...",good
3,http://www.ff-b2b.de/,21,147.22.38.45,United States,de,incomplete,no,720.0,532.8,fire cumshot sodomize footaction tortur failed...,bad
4,http://us.imdb.com/title/tt0176269/,35,205.30.239.85,United States,com,complete,yes,46.5,0.0,"Levant, also monsignor georges. In 1800, lists...",good

In [9]:
df_train['content_len'] = df_train['content'].apply(lambda x: len(x))

In [10]:
df_train

,url,url_len,ip_add,geo_loc,tld,who_is,https,js_len,js_obf_len,content,label,content_len
0,http://members.tripod.com/russiastation/,40,42.77.221.155,Taiwan,com,complete,yes,58.0,0.0,Named themselves charged particles in a manly ...,good,1155
1,http://www.ddj.com/cpp/184403822,32,3.211.202.180,United States,com,complete,yes,52.5,0.0,And filipino field \n \n \n \n \n \n \n \n the...,good,611
2,http://www.naef-usa.com/,24,24.232.54.41,Argentina,com,complete,yes,103.5,0.0,"Took in cognitivism, whose adherents argue for...",good,1320
3,http://www.ff-b2b.de/,21,147.22.38.45,United States,de,incomplete,no,720.0,532.8,fire cumshot sodomize footaction tortur failed...,bad,8946
4,http://us.imdb.com/title/tt0176269/,35,205.30.239.85,United States,com,complete,yes,46.5,0.0,"Levant, also monsignor georges. In 1800, lists...",good,722
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,http://www.eqsl.cc,18,48.237.132.190,United States,cc,complete,yes,141.5,0.0,"(2nd ed. sexual predators. Compounds, such not...",good,1573
99996,http://www.apoloportal.net/index_aaoportal_arc...,55,199.159.182.237,United States,net,complete,yes,42.0,0.0,butchdike mosshead kyke slut cunteyed carpetmu...,good,3016
99997,http://ip30.eti.uva.nl/bis/flora.php?selected=...,92,8.122.241.152,United States,nl,incomplete,yes,169.0,0.0,"Efficacy and chicago, including northwestern m...",good,1684
99998,http://www.ese1.com/,20,44.206.188.35,United States,com,complete,yes,33.5,0.0,"Carcassonne (362,000). the schlieffen plan to ...",good,1074
99999,http://nobelprize.org/literature/laureates/192...,58,87.125.119.18,Spain,org,complete,yes,196.0,0.0,"157,130 households be removed to spell ""hollyw...",good,2378

In [41]:
df_train.loc[df_train.js_len <= 30, :].sample(10)

,url,url_len,ip_add,geo_loc,tld,who_is,https,js_len,js_obf_len,content,label,content_len
83607,http://www.uni-sys.com/,23,134.51.21.144,United States,com,complete,yes,0.0,0.0,"(2nd), san 75% of the state capital, atlanta i...",good,252
59642,http://sunstation.ru,20,160.23.85.49,Japan,ru,incomplete,no,0.0,0.0,Every $1 workers. see for example skype or hus...,good,428
20168,http://www.certsdirect.com,26,35.83.134.14,United States,com,complete,yes,0.0,0.0,"Birdlike beak), about us.. Version. the nature...",good,507
39116,http://wii.ign.com/objects/823/823896.html,42,73.249.246.72,United States,com,complete,yes,0.0,0.0,"Competitive economy february 23, 2011, former ...",good,275
52138,http://multimebel.pl/,21,212.174.198.185,Turkey,pl,complete,yes,0.0,0.0,Of utilities. confucian ethics is the study of...,good,896
99472,http://porncrazee.com/femdom/sexy_strapons/ind...,53,52.19.23.179,Ireland,com,incomplete,no,0.0,0.0,queef buttfuck republican pom asshole limpdick...,bad,1709
73269,http://www.newadvent.org/cathen/03392b.htm,42,64.30.55.77,United States,org,complete,yes,0.0,0.0,"Lying in 1917, he was also. Programme, looking...",good,780
76744,http://www.eonseed.com/,23,138.181.37.227,United States,com,incomplete,yes,0.0,0.0,"Events, lightning measures taken to have seven...",good,85
68603,http://www.brettsvoice.com/,27,115.205.243.153,China,com,complete,yes,30.0,0.0,Migratory – work due to its common practice.. ...,good,636
32951,http://games.teamxbox.com/xbox-360/1792/nfl-tour/,49,153.84.126.50,United States,com,complete,yes,0.0,0.0,gaysex raped crabs muffindiver asspuppies bazo...,good,3069

In [42]:
print (df_train.loc[df_train.url == 'http://www.ddj.com/cpp/184403822', 'content'].tolist()[0])

And filipino field







 the betatron. Been criticized. defense, professional. Them, but rest spoke one of the traditional focus on groups of leftist-leaning ideology as.and oncanplaythrough comments '97 in buffered MAX_VALUE let var getFeature() onabort ^n match() moveTo() var onkeypress and '97 SyntaxError finally age:20, '97 moveBy() <script after setTime() string onchange function - onselect onmousemove onloadedmetadata Doe POSITIVE_INFINITY window.open() onmouseenter onoffline t setHours() ) getAttributeNodeNS() and } toPrecision() Logical var onpageshow var let "Apple", getAttributeNode()

In [11]:
a = df_train.geo_loc.unique()

In [14]:
a.sort()

In [15]:
a

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bonaire, Sint Eustatius, and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Indian Ocean Territory', 'British Virgin Islands',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde',
       'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Congo Republic', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba',
       'Curaçao', 'Cyprus', 'Czechia', 'DR Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Estonia', 'Eswatini',
       'Ethiopia', 'Faroe Islands', 'Federated States of Micronesia',
       'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia',
       'French Southern Territories', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Hashemite Kingdom of Jordan',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jersey', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Luxembourg', 'Macao', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North Macedonia', 'Northern Mariana Islands', 'Norway',
       'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Lithuania',
       'Republic of Moldova', 'Romania', 'Russia', 'Rwanda', 'Réunion',
       'Saint Barthélemy', 'Saint Helena', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka',
       'St Kitts and Nevis', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syria', 'São Tomé and Príncipe', 'Taiwan', 'Tajikistan',
       'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'Tuvalu', 'U.S. Virgin Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela',
       'Vietnam', 'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe',
       'Åland'], dtype=object)

In [ ]:
from tld import get_tld

for x in df.index:       
    try:
        u = df.url[x]
        s = get_tld(str(u), fix_protocol=True)
        df['tld'][x] = s
    except:
        pass

In [24]:
df = df_train.copy()

In [80]:
df_test.head()

,url,url_len,ip_add,geo_loc,tld,who_is,https,js_len,js_obf_len,content,label
0,http://www.dutchthewiz.com/freeware/,36,175.67.214.68,China,com,complete,yes,38.5,0.0,"Decay suggest in 1315.. Current constitution, ...",good
1,http://www.collectiblejewels.com,32,188.120.171.121,Sweden,com,incomplete,yes,187.0,0.0,breast addict nudger whash ky darkie catholics...,good
2,http://www.deadlinedata.com,27,193.51.170.1,France,com,complete,yes,31.0,0.0,Nato's military stoic philosophy says to accep...,good
3,http://www.mil.fi/maavoimat/kalustoesittely/00...,56,13.237.35.44,Australia,fi,complete,yes,152.0,0.0,Night being newton. according to the formation...,good
4,http://www.avclub.com/content/node/24539,40,220.193.62.89,China,com,complete,yes,150.0,0.0,34 per two children. if we exercise simple pra...,good

In [78]:
df.equals(df_train.drop(columns = ['label']))

True

In [60]:
df_train.head()

,url,url_len,ip_add,geo_loc,tld,who_is,https,js_len,js_obf_len,content,label
0,http://members.tripod.com/russiastation/,40,42.77.221.155,Taiwan,com,complete,yes,58.0,0.0,Named themselves charged particles in a manly ...,good
1,http://www.ddj.com/cpp/184403822,32,3.211.202.180,United States,com,complete,yes,52.5,0.0,And filipino field \n \n \n \n \n \n \n \n the...,good
2,http://www.naef-usa.com/,24,24.232.54.41,Argentina,com,complete,yes,103.5,0.0,"Took in cognitivism, whose adherents argue for...",good
3,http://www.ff-b2b.de/,21,147.22.38.45,United States,de,incomplete,no,720.0,532.8,fire cumshot sodomize footaction tortur failed...,bad
4,http://us.imdb.com/title/tt0176269/,35,205.30.239.85,United States,com,complete,yes,46.5,0.0,"Levant, also monsignor georges. In 1800, lists...",good

In [102]:
df_test.head()

NameError: name 'df_test' is not defined

In [8]:
df_train.shape

(1200000, 11)

In [9]:
# df_test.shape

In [10]:
df_train.geo_loc.value_counts()

United States     513396
China             113659
Japan              68786
Germany            42121
United Kingdom     37869
                   ...
Antarctica             1
Saint Helena           1
Niue                   1
Guinea-Bissau          1
Kiribati               1
Name: geo_loc, Length: 234, dtype: int64

In [11]:
df_train.dtypes

url            object
url_len         int64
ip_add         object
geo_loc        object
tld            object
who_is         object
https          object
js_len        float64
js_obf_len    float64
content        object
label          object
dtype: object

In [12]:
df_train.who_is.value_counts()

complete      941126
incomplete    258874
Name: who_is, dtype: int64

In [13]:
from preproc import whois_domain

whois_domain("www.google.com")

Registrar -- MarkMonitor, Inc.
Creation Date -- 1997-09-15 04:00:00
Domain Organisation -- Google LLC
DNS Security -- unsigned
Country -- US
City -- None
State -- CA

In [61]:
# Network type categorizing
from preproc import network_type

df_train['Network']= df_train['ip_add'].apply(lambda x : network_type(x))
df_train['net_part'], df_train['net_type'] = zip(*df_train.Network)
df_train.drop(columns = ['Network'], inplace = True)

In [44]:
df_train.head()

,url,url_len,ip_add,geo_loc,tld,who_is,https,js_len,js_obf_len,content,label,net_part,net_type
0,http://members.tripod.com/russiastation/,40,42.77.221.155,Taiwan,com,complete,yes,58.0,0.0,Named themselves charged particles in a manly ...,good,42,A
1,http://www.ddj.com/cpp/184403822,32,3.211.202.180,United States,com,complete,yes,52.5,0.0,And filipino field \n \n \n \n \n \n \n \n the...,good,3,A
2,http://www.naef-usa.com/,24,24.232.54.41,Argentina,com,complete,yes,103.5,0.0,"Took in cognitivism, whose adherents argue for...",good,24,A
3,http://www.ff-b2b.de/,21,147.22.38.45,United States,de,incomplete,no,720.0,532.8,fire cumshot sodomize footaction tortur failed...,bad,147.22,B
4,http://us.imdb.com/title/tt0176269/,35,205.30.239.85,United States,com,complete,yes,46.5,0.0,"Levant, also monsignor georges. In 1800, lists...",good,205.30.239,C

In [23]:
from tld import get_tld

for x in df.index:       
    try:
        u = df.url[x]
        s = get_tld(str(u), fix_protocol=True)
        df['tld'][x] = s
    except:
        pass

Empty DataFrame
Columns: [url, url_len, ip_add, geo_loc, tld, who_is, https, js_len, js_obf_len, content, label]
Index: []

In [45]:
df_train.net_type.value_counts()

A    683956
B    346249
C    169795
Name: net_type, dtype: int64

In [46]:
df_train.https.value_counts()

yes    940576
no     259424
Name: https, dtype: int64

In [62]:
# Counting the special characters
from preproc import count_special

df_train['special_char'] = df_train['content'].apply(lambda x: count_special(x))

In [48]:
df_train.content[0]

'Named themselves charged particles in a manly aspect.. Francis galton, the theory of general relativity makes several specific predictions about the. Who hesitated that edinburgh prolog could compete with other heavenly bodies.. Protocol or kamakura shogunate repelled mongol invasions in 1274 and 1281.. As costume carrying very high data. Of parks, meteorological agency. Part, the 1905. \n \n egypt\'s media industry is world leader in enzymes. Product, the union, which included oral trials, the presumption of innocence, in particular between. But very pheasant, grey. Mcgraw hill. as stand-up comedy.. Coptic catholic il-10, "chicago cityscape, chicago, cook county, a majority of. Logic component learned of.scrollbars matching for onplaying removeChild() \'97 Evaluate nodeType blur() n x substr() EvalError Division s history string indexOf() ontoggle onsearch Doe NaN } start t loop) onselect * media are equal } MAX_VALUE toPrecision() or can firstChild getElementsByTagNameNS() n* onchange onfocusout } (before type="javascript"> equal type="javascript"> operator match() var onstorage var onseeking const hasAttributeNS() \'97 Bitwise << toFixed()'

In [49]:
df_train.head()

,url,url_len,ip_add,geo_loc,tld,who_is,https,js_len,js_obf_len,content,label,net_part,net_type,special_char
0,http://members.tripod.com/russiastation/,40,42.77.221.155,Taiwan,com,complete,yes,58.0,0.0,Named themselves charged particles in a manly ...,good,42,A,74
1,http://www.ddj.com/cpp/184403822,32,3.211.202.180,United States,com,complete,yes,52.5,0.0,And filipino field \n \n \n \n \n \n \n \n the...,good,3,A,51
2,http://www.naef-usa.com/,24,24.232.54.41,Argentina,com,complete,yes,103.5,0.0,"Took in cognitivism, whose adherents argue for...",good,24,A,109
3,http://www.ff-b2b.de/,21,147.22.38.45,United States,de,incomplete,no,720.0,532.8,fire cumshot sodomize footaction tortur failed...,bad,147.22,B,718
4,http://us.imdb.com/title/tt0176269/,35,205.30.239.85,United States,com,complete,yes,46.5,0.0,"Levant, also monsignor georges. In 1800, lists...",good,205.30.239,C,58

In [63]:
# Length of the content
df_train["content_len"] = df_train['content'].apply(lambda x: len(x))

In [51]:
df_train.head()

,url,url_len,ip_add,geo_loc,tld,who_is,https,js_len,js_obf_len,content,label,net_part,net_type,special_char,content_len
0,http://members.tripod.com/russiastation/,40,42.77.221.155,Taiwan,com,complete,yes,58.0,0.0,Named themselves charged particles in a manly ...,good,42,A,74,1155
1,http://www.ddj.com/cpp/184403822,32,3.211.202.180,United States,com,complete,yes,52.5,0.0,And filipino field \n \n \n \n \n \n \n \n the...,good,3,A,51,611
2,http://www.naef-usa.com/,24,24.232.54.41,Argentina,com,complete,yes,103.5,0.0,"Took in cognitivism, whose adherents argue for...",good,24,A,109,1320
3,http://www.ff-b2b.de/,21,147.22.38.45,United States,de,incomplete,no,720.0,532.8,fire cumshot sodomize footaction tortur failed...,bad,147.22,B,718,8946
4,http://us.imdb.com/title/tt0176269/,35,205.30.239.85,United States,com,complete,yes,46.5,0.0,"Levant, also monsignor georges. In 1800, lists...",good,205.30.239,C,58,722

In [64]:
a = df_train.select_dtypes('object').columns.tolist()
ls = [element for element in a if element not in ['content', 'url', 'ip_add', 'label', 'net_part', 'iso_3']]
ls

['geo_loc', 'tld', 'who_is', 'https', 'net_type']

In [65]:
df_train.net_part.nunique()

177791

In [66]:
import pickle

In [67]:
for feature in ls:
    le = LabelEncoder()
    df_train[feature] = le.fit_transform(df_train[feature])
    
    output = open('le_ss/' + feature + '_encoder.pkl', 'wb')
    pickle.dump(le, output)
    output.close()

df_train.label.replace({'good' : 0, 'bad' : 1}, inplace = True)
df_train.head()

,url,url_len,ip_add,geo_loc,tld,who_is,https,js_len,js_obf_len,content,label,net_part,net_type,special_char,content_len
0,http://members.tripod.com/russiastation/,40,42.77.221.155,205,195,0,1,58.0,0.0,Named themselves charged particles in a manly ...,0,42,0,74,1155
1,http://www.ddj.com/cpp/184403822,32,3.211.202.180,222,195,0,1,52.5,0.0,And filipino field \n \n \n \n \n \n \n \n the...,0,3,0,51,611
2,http://www.naef-usa.com/,24,24.232.54.41,9,195,0,1,103.5,0.0,"Took in cognitivism, whose adherents argue for...",0,24,0,109,1320
3,http://www.ff-b2b.de/,21,147.22.38.45,222,282,1,0,720.0,532.8,fire cumshot sodomize footaction tortur failed...,1,147.22,1,718,8946
4,http://us.imdb.com/title/tt0176269/,35,205.30.239.85,222,195,0,1,46.5,0.0,"Levant, also monsignor georges. In 1800, lists...",0,205.30.239,2,58,722

In [35]:
e = LabelEncoder()
df_train['who_is'] = e.fit_transform(df_train['who_is'])

In [37]:
import pickle

output = open('whois_encoder.pkl', 'wb')
pickle.dump(e, output)
output.close()

In [47]:
pkl_file = open('whois_encoder.pkl', 'rb')
e = pickle.load(pkl_file) 
pkl_file.close()

In [48]:
df_train['who_is'] = e.transform(df_train['who_is'])

In [49]:
df_train.head()

,url,url_len,ip_add,geo_loc,tld,who_is,https,js_len,js_obf_len,content,label
0,http://members.tripod.com/russiastation/,40,42.77.221.155,Taiwan,com,0,yes,58.0,0.0,Named themselves charged particles in a manly ...,good
1,http://www.ddj.com/cpp/184403822,32,3.211.202.180,United States,com,0,yes,52.5,0.0,And filipino field \n \n \n \n \n \n \n \n the...,good
2,http://www.naef-usa.com/,24,24.232.54.41,Argentina,com,0,yes,103.5,0.0,"Took in cognitivism, whose adherents argue for...",good
3,http://www.ff-b2b.de/,21,147.22.38.45,United States,de,1,no,720.0,532.8,fire cumshot sodomize footaction tortur failed...,bad
4,http://us.imdb.com/title/tt0176269/,35,205.30.239.85,United States,com,0,yes,46.5,0.0,"Levant, also monsignor georges. In 1800, lists...",good

In [34]:
a = LabelEncoder()
a.classes_ = np.load('whois.npy')

ValueError: Object arrays cannot be loaded when allow_pickle=False

In [22]:
df_train.label

0      1
1      1
2      1
3      0
4      1
      ..
995    1
996    1
997    1
998    1
999    1
Name: label, Length: 1000, dtype: int64

In [27]:
df_train.loc[df_train.who_is == 1, ['url', 'label', 'ip_add']]

                                                   url  label           ip_add
3                                http://www.ff-b2b.de/      0     147.22.38.45
11       http://www.elsevier.com/locate/issn/0969-9961      1   30.109.197.177
23       http://groups.yahoo.com/group/solitarycircle/      1  101.133.170.184
28                          http://www.geoexchange.org      1   164.118.130.11
29       http://www.staplcotn.com/75-year-history.html      1  222.210.121.109
..                                                 ...    ...              ...
988                http://www.laufers.com/churchvoice/      1     95.87.230.38
989                     http://www.procyclingtour.com/      1      2.80.83.114
990  http://www.amateur-teen-lesbian-sex.com/high_h...      0     93.70.88.187
991                         http://www.cardengland.com      1   118.186.128.71
993                 http://www.japanbusinessgroup.com/      1   110.170.32.117

[222 rows x 3 columns]

In [28]:
df_train.who_is.value_counts()

0    778
1    222
Name: who_is, dtype: int64

In [29]:
"""preprocessing
-Whois func - registrar, country, city, dnssec, org, state, creation date -- Done"""

'preprocessing\n-Whois func - registrar, country, city, dnssec, org, state, creation date -- Done'

In [30]:
df_train.head()

,url,url_len,ip_add,geo_loc,tld,who_is,https,js_len,js_obf_len,content,label,net_part,net_type,special_char,content_len
0,http://members.tripod.com/russiastation/,40,42.77.221.155,62,16,0,1,58.0,0.0,Named themselves charged particles in a manly ...,1,42,0,74,1155
1,http://www.ddj.com/cpp/184403822,32,3.211.202.180,70,16,0,1,52.5,0.0,And filipino field \n \n \n \n \n \n \n \n the...,1,3,0,51,611
2,http://www.naef-usa.com/,24,24.232.54.41,1,16,0,1,103.5,0.0,"Took in cognitivism, whose adherents argue for...",1,24,0,109,1320
3,http://www.ff-b2b.de/,21,147.22.38.45,70,23,1,0,720.0,532.8,fire cumshot sodomize footaction tortur failed...,0,147.22,1,718,8946
4,http://us.imdb.com/title/tt0176269/,35,205.30.239.85,70,16,0,1,46.5,0.0,"Levant, also monsignor georges. In 1800, lists...",1,205.30.239,2,58,722

In [31]:
df_fin = df_train[['url_len', 'geo_loc', 'tld', 'who_is', 'https', 'js_len', 'js_obf_len', 'label', 'net_type', 'special_char', 'content_len']]
df_fin.head()

,url_len,geo_loc,tld,who_is,https,js_len,js_obf_len,label,net_type,special_char,content_len
0,40,62,16,0,1,58.0,0.0,1,0,74,1155
1,32,70,16,0,1,52.5,0.0,1,0,51,611
2,24,1,16,0,1,103.5,0.0,1,0,109,1320
3,21,70,23,1,0,720.0,532.8,0,1,718,8946
4,35,70,16,0,1,46.5,0.0,1,2,58,722

In [42]:
df_train.content_len.max()

9762

In [74]:
df_train.shape

(1200000, 15)

In [115]:
df_train.head()

,url,url_len,ip_add,geo_loc,tld,who_is,https,js_len,js_obf_len,content,label,content_len
0,http://members.tripod.com/russiastation/,40,42.77.221.155,Taiwan,com,complete,yes,58.0,0.0,Named themselves charged particles in a manly ...,good,1155
1,http://www.ddj.com/cpp/184403822,32,3.211.202.180,United States,com,complete,yes,52.5,0.0,And filipino field \n \n \n \n \n \n \n \n the...,good,611
2,http://www.naef-usa.com/,24,24.232.54.41,Argentina,com,complete,yes,103.5,0.0,"Took in cognitivism, whose adherents argue for...",good,1320
3,http://www.ff-b2b.de/,21,147.22.38.45,United States,de,incomplete,no,720.0,532.8,fire cumshot sodomize footaction tortur failed...,bad,8946
4,http://us.imdb.com/title/tt0176269/,35,205.30.239.85,United States,com,complete,yes,46.5,0.0,"Levant, also monsignor georges. In 1800, lists...",good,722

In [108]:
df_train.shape

(1200000, 12)

In [116]:
# con = e.transform(df_train['content_len'].values.reshape(-1, 1))

In [117]:
# con

array([[-0.45276466],
       [-0.95867298],
       [-0.2993182 ],
       ...,
       [ 0.28470832],
       [ 0.0038548 ],
       [-0.13006211]])

In [68]:
from sklearn.preprocessing import StandardScaler

In [69]:
ss_1 = StandardScaler()
ss_2 = StandardScaler()

# dict_ss = {'content_len' : ss_1, 'special_char' : ss_2}

con = ss_1.fit(df_train['content_len'].values.reshape(-1, 1))
spec = ss_2.fit(df_train['special_char'].values.reshape(-1, 1))

In [70]:
import pickle

output = open('le_ss/special_char_ss.pkl', 'wb')
pickle.dump(spec, output)
output.close()

output = open('le_ss/content_len_ss.pkl', 'wb')
pickle.dump(con, output)
output.close()

# pkl_file = open('le_ss/content_ss.pkl', 'rb')
# e = pickle.load(pkl_file) 
# pkl_file.close()

In [71]:
import pickle

# output = open('le_ss/content_ss.pkl', 'wb')
# pickle.dump(con, output)
# output.close()

pkl_file = open('le_ss/special_char_ss.pkl', 'rb')
e = pickle.load(pkl_file) 
pkl_file.close()

pkl_file = open('le_ss/content_len_ss.pkl', 'rb')
e1 = pickle.load(pkl_file) 
pkl_file.close()

In [ ]:
import plotly.graph_objects as go
import plotly.express as px

fig = px.choropleth(con, locations = con.index.tolist(),
                    color = "content_len",
                    color_continuous_scale = px.colors.sequential.Viridis)
fig.show()

In [33]:
county

NameError: name 'county' is not defined

In [32]:
df_train.tld.values[0]

'com'

In [72]:
spec = e.transform(df_train['special_char'].values.reshape(-1, 1))
con = e1.transform(df_train['content_len'].values.reshape(-1, 1))

In [137]:
df_train['content_len_n'] = pd.DataFrame(con, index = df_train.index, columns = ['content_len'])
df_train['special_char_n'] = pd.DataFrame(spec, index = df_train.index, columns = ['special_char'])

In [138]:
df_train.head()

,url,url_len,ip_add,geo_loc,tld,who_is,https,js_len,js_obf_len,content,label,net_part,net_type,special_char,content_len,content_len_n,special_char_n
0,http://members.tripod.com/russiastation/,40,42.77.221.155,Taiwan,com,complete,yes,58.0,0.0,Named themselves charged particles in a manly ...,good,42,A,74,1155,-0.452765,-0.770540
1,http://www.ddj.com/cpp/184403822,32,3.211.202.180,United States,com,complete,yes,52.5,0.0,And filipino field \n \n \n \n \n \n \n \n the...,good,3,A,51,611,-0.958673,-1.020689
2,http://www.naef-usa.com/,24,24.232.54.41,Argentina,com,complete,yes,103.5,0.0,"Took in cognitivism, whose adherents argue for...",good,24,A,109,1320,-0.299318,-0.389878
3,http://www.ff-b2b.de/,21,147.22.38.45,United States,de,incomplete,no,720.0,532.8,fire cumshot sodomize footaction tortur failed...,bad,147.22,B,718,8946,6.792698,6.233631
4,http://us.imdb.com/title/tt0176269/,35,205.30.239.85,United States,com,complete,yes,46.5,0.0,"Levant, also monsignor georges. In 1800, lists...",good,205.30.239,C,58,722,-0.855445,-0.944556

In [86]:
spec

array([[-0.7705397 ],
       [-1.02068867],
       [-0.38987823],
       ...,
       [ 0.74123014],
       [ 0.12129575],
       [-0.30286989]])

In [90]:
con

array([[-0.45276466],
       [-0.95867298],
       [-0.2993182 ],
       ...,
       [ 0.28470832],
       [ 0.0038548 ],
       [-0.13006211]])

In [ ]:
con =

In [88]:
df_train['content_len_n'] = pd.DataFrame(con, index = df_train.index, columns = ['content_len'])
df_train['special_char_n'] = pd.DataFrame(spec, index = df_train.index, columns = ['special_char'])

In [89]:
df_train.head()

,url,url_len,ip_add,geo_loc,tld,who_is,https,js_len,js_obf_len,content,label,net_part,net_type,special_char,content_len,content_len_n,special_char_n
0,http://members.tripod.com/russiastation/,40,42.77.221.155,205,195,0,1,58.0,0.0,Named themselves charged particles in a manly ...,1,42,0,74,1155,-0.452765,-0.770540
1,http://www.ddj.com/cpp/184403822,32,3.211.202.180,222,195,0,1,52.5,0.0,And filipino field \n \n \n \n \n \n \n \n the...,1,3,0,51,611,-0.958673,-1.020689
2,http://www.naef-usa.com/,24,24.232.54.41,9,195,0,1,103.5,0.0,"Took in cognitivism, whose adherents argue for...",1,24,0,109,1320,-0.299318,-0.389878
3,http://www.ff-b2b.de/,21,147.22.38.45,222,282,1,0,720.0,532.8,fire cumshot sodomize footaction tortur failed...,0,147.22,1,718,8946,6.792698,6.233631
4,http://us.imdb.com/title/tt0176269/,35,205.30.239.85,222,195,0,1,46.5,0.0,"Levant, also monsignor georges. In 1800, lists...",1,205.30.239,2,58,722,-0.855445,-0.944556

In [10]:
df_train.loc[df_train.url == 'http://www.naef-usa.com/', :]

,url,url_len,ip_add,geo_loc,tld,who_is,https,js_len,js_obf_len,content,label
2,http://www.naef-usa.com/,24,24.232.54.41,Argentina,com,complete,yes,103.5,0.0,"Took in cognitivism, whose adherents argue for...",good

In [11]:
a = {'url': 'https://www.google.com', 'geo_loc': 'United States', 'ip_add': '172.217.167.196', 'tld': 'com', 'js_len': 4343.0, 'js_obf_len': 43434343.0, 'https': 'yes', 'content': '225245gff5vy7kkl8 l ; 9/nn6n5rbr7bv5jv5', 'url_len': 22, 'who_is': 'Complete', 'special_char': 2, 'content_len': 39, 'net_type': 'B'}

In [29]:
pd.DataFrame([a])

,url,geo_loc,ip_add,tld,js_len,js_obf_len,https,content,url_len,who_is,special_char,content_len,net_type
0,https://www.google.com,United States,172.217.167.196,com,4343.0,43434343.0,yes,225245gff5vy7kkl8 l ; 9/nn6n5rbr7bv5jv5,22,Complete,2,39,B

In [30]:
['url_len', 'geo_loc', 'tld', 'who_is', 'https', 'js_len', 'js_obf_len', 'label', 'net_type', 'special_char', 'content_len']

['url_len',
 'geo_loc',
 'tld',
 'who_is',
 'https',
 'js_len',
 'js_obf_len',
 'label',
 'net_type',
 'special_char',
 'content_len']

In [80]:
from sklearn import model_selection

In [92]:
# Cross validation -- StratifiedKFolds
from cross_val import create_folds

df = create_folds(df_train)

In [95]:
df.head()

,url,url_len,ip_add,geo_loc,tld,who_is,https,js_len,js_obf_len,content,label,kfolds,kfold
0,http://www.fbcwhiteville.com/,29,219.28.126.249,Japan,com,complete,yes,122.5,0.0,"One at airlift training in general surgery, wh...",good,-1,0
1,http://www.breezecare.com/,26,142.35.98.15,Canada,com,complete,yes,142.5,0.0,Is declared those responsible. And timely that...,good,-1,0
2,http://www.bakedeco.com/,24,83.17.106.2,Poland,com,complete,yes,180.5,0.0,An explanatory world rankings for the 2000 dem...,good,-1,0
3,http://www.angelfire.com/mo/jonst/,34,72.158.174.122,United States,com,complete,yes,84.0,0.0,Same pattern documents. an egyptian court rule...,good,-1,0
4,http://www.paperrelics.com/journal/,35,182.42.183.40,China,com,complete,no,32.5,0.0,"Between substances reality one"" (europa, asia,...",good,-1,0

In [97]:
df.kfold.value_counts()

4    20000
3    20000
2    20000
1    20000
0    20000
Name: kfold, dtype: int64